body {
  background-color:#101927;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
}
.cyan{
  background-color: #1B4D6D;
  position: absolute;
  top: -6rem;
  height: 40.25rem;
  width: 60.75rem;
  border-radius: 50%;
  --tw-blur: blur(10rem);
  filter: var(--tw-blur);
  z-index: -1;
}
  header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  
  li {
    list-style-type: none;
    position: relative;
    padding-right: 50px;
  }
  
  .h1pos {
    margin-right: 40px;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #link {
    color: white;
  }
  
  #link1 {
    color: #0B2447;
  }
  
  .button1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 380px;
  }
  
  #join-an-event {
    background-color: #0B2447;
    border-color: black;
    border-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
  
  #invite-a-friend {
    background-color: white;
    border-color: black;
    border-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #0B2447;
  }
  
  .boxmain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 100px);
  }
  
  .boximg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .white-box {
    background-color: white;
    width: 100px;
    height: 100px;
  }
  
  .boxdetails {
    background-color: white;
    height: 470px;
    border-radius: 15px;
    width: 90%;
  }
  
  #copy-link-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #copy-link-blur {
    background-color: #818181;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color:#0B2447;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #copy-link-modal {
    background-color: white;
    width: 500px;
    z-index: 99;
    border-radius: 7px;
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #copy-link-btn {
  margin-top:8px;
   text-align: center;
   background-color: #0B2447;
   color:white;
   border-radius: 5px;
   padding:14px;
   margin-bottom: 10px;
   cursor: pointer;
  }
  .top-one{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .middle-one{
    display:flex;
    flex-direction: column;
    gap: 5px;
  }
  .invite-link{
    display: flex;
    align-items: center;
    background-color:#f1efef;
    border-radius: 5px;
  }