{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title> Voluntra | Event Details </title>
	<link rel="icon" href="{% static 'images/logo.png' %}">
	<link rel="stylesheet" href="{% static 'css/loginorg2.css' %}">
	<meta name="viewport" content="width=device-width">
	<meta charset="utf-8">
</head>

<body>
	<div class="cyan">

	</div>
	<header>
		<img src="{% static 'images/logo1.png' %}" width="159" height="100" style="margin-bottom: 8px;">
		<div class="h1pos">
			<li>
				<a class="hover-underline-animation" id="link1" style="text-decoration: none;" href="/home">Home</a>
			</li>
			<li>
				<a class="hover-underline-animation" id="link1" style="text-decoration: none;" href="/aboutUs">About Us</a>
			</li>
			
		</div>
	</header>
	<div class="main1">
		<div class="box">
			<form name="loginOrg" method="post" enctype="multipart/form-data">
				{% csrf_token %}

				<input type="text" id="username" name="username" value= '{{context}}' readonly>

				<input type="text" name="nameOfEvent" placeholder="Name of the Event">
				<input type="text" name="descOfEvent" placeholder="Description of the Event">
				<input type="text" name="placeOfEvent" placeholder="Place of the Event">

				<input placeholder="Date " name="dateOfEvent" class="date" type="text" onfocus="(this.type='date')" id="date" />
				<input type="number" name="numOfVol" class="date" placeholder="  Volunteers Required">
				<input type="text" name="minAge" placeholder="Minimum age required">

				<!-- <input type="file" placeholder="Poster of the event" id="file-input-1" name="eventPoster" />
				<input type="file" id="file-input-2" name="file-input" />
				<label class="file-input-label-1" for="file-input-1" >
					<p class="poster"> Poster of the event</p>
					<img class="img1" src="{% static 'images/upload.svg' %}" width="32px" height="32px">
				</label> 
				 <br>
				<label class="file-input-label-2" for="file-input-2">
					<p class="poster"> Picture of the Organiser (optional) </p> 
					<img class="img1" src="{% static 'images/upload.svg' %}" width="32px" height="32px">
				</label> -->

				<label for="picture">Poster of the event</label>
            	<input type="file" id="picture" name="picture" accept="image/*" required>
            
				<input type="submit" value="Submit">
			</form>
		</div>

	</div>
	</div>
	</main>
	</div>

</body>

</html>
</div>
</body>

</html>