{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> Voluntra | Login </title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/loginorg1.css' %}">
    <meta name="viewport" content="width=device-width">
	<meta charset="utf-8">
</head>

<body>
    <div class="cyan">

	</div>
    <header>
        <img src="{% static 'images/logo1.png' %}" width="159" height="100" style="margin-bottom: 8px;">
        <div class="h1pos">
            <li>
                <a class="hover-underline-animation" id="link1" style="text-decoration: none;" href="/home">Home</a>
            </li>
            <li>
                <a class="hover-underline-animation" id="link1" style="text-decoration: none;" href="/aboutUs">About Us</a>
            </li>
        </div>
    </header>
    <main class="main1">
        <h1>
           Sign Up
        </h1>
        <div class="box">
            <form action="signUp" method="post">
                {% csrf_token %}

                <input type="text" id="first_name" name="first_name" placeholder="Name">
                <input type="text" id="username" name="username" placeholder="Username">
                <!-- <input type="text" id="number" name="phone_number" placeholder="Phone Number"> -->
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="password" id="password" name="password" placeholder="password">
                <input type="Submit" value="Sign Up">
                <button type="submit" id="google">
                    <img src="{% static 'images/google.png' %}">
                    <a>Signup with Google</a>
                </button>
            </form>

            {% for message in messages%}
                {{message}}
            {% endfor %}
        </div>
    </main>
    <script src="{% static 'java_script/loginpage1.js' %}"></script>
</body>

</html>